<% if resource.errors.any? %>
  <article class="message is-warning">
    <div class="message-header">
      <p>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %></p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <ul class="message-body">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </article>
<% end %>