<div class="field">
  <input id="switch<%= object.id %>" type="checkbox" name="switch<%= object.id %>" class="switch is-info" <% if object.is_active %>checked="checked"<% end %>>
  <label for="switch<%= object.id %>">On / Off</label>
</div>