<nav id="mobile-menu" class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item">
        <%= t('sitename') %>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar" @click="isOpen = !isOpen" v-bind:class="{'is-active': isOpen}">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu" v-bind:class="{'is-active': isOpen}">
      <div class="navbar-end">
        <div class="navbar-item">
          <% if count_user < ENV['MAX_MEMBER_COUNT'].to_i %>
          <div class="buttons">
            <%= link_to rails_admin_path, class: 'button' do %>
              <span class="icon">
                <i class="fa fa-cogs"></i>
              </span>
              <span><%= t('Dashboard') %></span>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>