<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black"><%= t('.thank_you_for_inquiry') %></h3>
                <hr class="login-hr">
                <p class="has-text-grey">
                    <a href="/">Back To Top Page</a>
                </p>
            </div>
        </div>
    </div>
</section>