<div id="information">
  <div class="header">
    <%= render partial: "layouts/header/order" %>
    <dl class="links">
      <dd><%= link_to t('official_site'), 'https://newsdict.io/', target: :_blank %></dd>
      <dd><%= link_to t('inquiry'), inquiries_path %></dd>
    </dl>
  </div>
</div>