/*
 * css for webpacker
 */
@import '~bulma/bulma';
$fa-font-path: "~font-awesome/fonts";

html, body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
}

.hero {
  &.is-success {
    background: #F2F6FA;
   }
  .nav, &.is-success .nav {
     -webkit-box-shadow: none;
     box-shadow: none;
   }
}

.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
  img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }
}

input {
  font-weight: 300;
}

p {
  font-weight: 700;
  &.subtitle {
    padding-top: 1rem;
  }
}
.media-source-name a {
  color: #2E2F30;
}
.media-content h2 {
  font-size: 130%;
  font-weight: bold;
  text-decoration: underline;
  color: #2E2F30;
}
.media-content .tags span {
  letter-spacing: 3px;
  font-weight:bold;
}

.content-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

a:hover {
  color: rgb(63, 0, 255);
}

#order-desktop {
  padding: 0.5rem 1.5rem;
}

div.tabs > ul > li#logo {
  font-size: 140%;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

div.tabs > ul > li#logo > a {
  padding: 2px 0 3px;
  border: 0;
}