/*
 * css for webpacker
 */
@import '~bulma/bulma';
$fa-font-path: "~font-awesome/fonts";

html, body {
  height:100%;
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
}

.hero {
  &.is-success {
    background: #F2F6FA;
   }
  .nav, &.is-success .nav {
     -webkit-box-shadow: none;
     box-shadow: none;
   }
}

.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
  img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }
}

input {
  font-weight: 300;
}

p {
  font-weight: 700;
  &.subtitle {
    padding-top: 1rem;
  }
}
.media-source-name a {
  color: #2E2F30;
}
.media-content h2 {
  font-size: 130%;
  font-weight: bold;
  text-decoration: underline;
  color: #2E2F30;
}
.media-content .tags span {
  letter-spacing: 3px;
  font-weight:bold;
}

.content-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

a:hover {
  color: rgb(63, 0, 255);
}

#order-desktop {
  padding: 0.5rem 1.5rem;
}

div.tabs > ul > li#logo {
  font-size: 140%;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

div.tabs > ul > li#logo > a {
  padding: 2px 0 3px;
  border: 0;
}
h2.menu-label {
  font-size: 1.25em;
}
.media-content > a > button {
  margin: 20px 0;
}
.column {
  margin:10px 10px 0 0 ;
}
#information {
  padding: 50px 10px 0 0;
}
div.header {
  display:flex;
  justify-content: flex-start;
}
div.header > div.order {
  margin: 0 auto 10px 10px;
}
div.header > dl.links {
  display: flex;
  margin:0 10px;
}
div.header > dl.links > dd {
  margin:0 5px;
}

@media only screen and (min-width: 768px) {
  .paper > .row {
    width: 25%;
  }
}
@media only screen and (max-width: 768px) {
  .columns {
    margin-left: 0;
    margin-right: 0;
  }
}
.paper.card > .card-head {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
}
.paper.card > .card-head > .card-title {
  padding: 10px 0 10px 25px;
  text-decoration: none;
  word-wrap: break-word;
  font-size: 115%;
  font-weight: bold;
  width: 46%;
}
.paper.card > .card-head > .card-title > a:link {
  color: #000;
}

.paper.card > .card-head > .card-title > a:visit {
  color: #666;
}
.paper.card > footer {
  display: inline-flex;
  justify-content:center;
  width: 100%;
}
.fixed-header {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index:999;
}
#web-section-header {
  height: 65px;
  padding: 0;
  margin: 0;
  border-bottom: 3px double #888;
}
#web-section-header .buttons {
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}
#web-section-main {
  display: flex;
  height: calc(100% - 60px);
}
#web-section-iframe {
  padding: 0;
  margin: 0;
  width: 70%;
}
#web-section-main div {
  justify-content: flex-end;
  padding: 10px;
  text-size: 115%;
}

#web-section-main div ul {
  list-style: inside;
  margin: 10px;
}