<div id="information">
  <div class="header">
    <% if @category_name %>
    <h1><%= @category_name %></h1>
    <% end %>
    <div class="order">
      <% if params[:controller] == "timelines" %>
      <%= render partial: "layouts/header/order" %>
      <% end %>
    </div>
  </div>
</div>